<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="Microsoft.Web.WebView2" version="1.0.1774.30" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>