{
  "KeyDefs": [
    {
      "Name": "ArtPad",
      "KeyString": "ArtPad.exe",
      "Type": 2,
      "Row": 0,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Full Scr",
      "KeyString": "{TAB}",
      "Type": 0,
      "Row": 0,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Merge Dn",
      "KeyString": "^e",
      "Type": 0,
      "Row": 0,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Zoom-",
      "KeyString": "^-",
      "Type": 0,
      "Row": 1,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Zoom+",
      "KeyString": "^{+}",
      "Type": 0,
      "Row": 1,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Brush+",
      "KeyString": "]",
      "Type": 0,
      "Row": 1,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Save",
      "KeyString": "^s",
      "Type": 0,
      "Row": 2,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Save As",
      "KeyString": "^%s",
      "Type": 0,
      "Row": 2,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Brush-",
      "KeyString": "[",
      "Type": 0,
      "Row": 2,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Save Dupl",
      "KeyString": "^%d",
      "Type": 0,
      "Row": 3,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Select All",
      "KeyString": "^a",
      "Type": 0,
      "Row": 3,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Redo",
      "KeyString": "+^z",
      "Type": 0,
      "Row": 3,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Merge",
      "KeyString": "^e",
      "Type": 0,
      "Row": 4,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Deselect",
      "KeyString": "^d",
      "Type": 0,
      "Row": 4,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Undo",
      "KeyString": "^z",
      "Type": 0,
      "Row": 4,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "100% ",
      "KeyString": "^%0",
      "Type": 0,
      "Row": 6,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Enter",
      "KeyString": "~",
      "Type": 0,
      "Row": 6,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "TabTip",
      "KeyString": "\\Program Files\\Common Files\\Microsoft Shared\\ink\\TabTip.exe",
      "Type": 2,
      "Row": 6,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Shift",
      "KeyString": "+",
      "Type": 1,
      "Row": 8,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Ctrl",
      "KeyString": "^",
      "Type": 1,
      "Row": 8,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Alt",
      "KeyString": "%",
      "Type": 1,
      "Row": 8,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Brush",
      "KeyString": "b",
      "Type": 0,
      "Row": 0,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Eraser",
      "KeyString": "e",
      "Type": 0,
      "Row": 1,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Dropper",
      "KeyString": "i ",
      "Type": 0,
      "Row": 2,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Pen",
      "KeyString": "p",
      "Type": 0,
      "Row": 3,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Figure",
      "KeyString": "u",
      "Type": 0,
      "Row": 4,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Operation",
      "KeyString": "O",
      "Type": 0,
      "Row": 6,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Actual",
      "KeyString": "^%0",
      "Type": 0,
      "Row": 8,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Clear",
      "KeyString": "{DEL}",
      "Type": 0,
      "Row": 5,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Reset",
      "KeyString": "^.",
      "Type": 0,
      "Row": 5,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "Reselect",
      "KeyString": "+^d",
      "Type": 0,
      "Row": 5,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Esc",
      "KeyString": "{ESC}",
      "Type": 0,
      "Row": 5,
      "Col": 3,
      "Pressed": false
    },
    {
      "Name": "Transform",
      "KeyString": "^t",
      "Type": 0,
      "Row": 7,
      "Col": 0,
      "Pressed": false
    },
    {
      "Name": "Fit",
      "KeyString": "^0",
      "Type": 0,
      "Row": 7,
      "Col": 1,
      "Pressed": false
    },
    {
      "Name": "OSK",
      "KeyString": "\\windows\\system32\\osk.exe",
      "Type": 2,
      "Row": 7,
      "Col": 2,
      "Pressed": false
    },
    {
      "Name": "Delete",
      "KeyString": "{DEL}",
      "Type": 0,
      "Row": 7,
      "Col": 3,
      "Pressed": false
    }
  ],
  "Size": "492, 369",
  "Rows": 9,
  "Cols": 4,
  "FontName": "Microsoft Sans Serif",
  "FontSize": 8.1,
  "FontFlags": {
    "Bold": false,
    "Italic": false,
    "Strikeout": false,
    "Underline": false
  },
  "FgColorString": "#FFFFFF",
  "BgColorString": "#6C6C6C"
}