{
  "KeyDefs": [
    {
      "Name": "Alt-PrtScn",
      "KeyString": "%{PRTSC}",
      "Type": 0,
      "Row": 0,
      "Col": 0,
      "Pressed": false
    }
  ],
  "Size": "232, 41",
  "Rows": 1,
  "Cols": 1,
  "FontName": "Microsoft Sans Serif",
  "FontSize": 8.1,
  "FontFlags": {
    "Bold": false,
    "Italic": false,
    "Strikeout": false,
    "Underline": false
  },
  "FgColorString": "#FFFFFF",
  "BgColorString": "#6C6C6C"
}